
<%= form_for(@todo, :remote => true ,:html => { :class => 'well' } ) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this post from being saved:</h2>
 
      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :body, :placeholder => 'Task', :class => 'span6' %>
    <%= f.select :category_id, options_from_collection_for_select(current_user.categories, :id, :name), :class => 'span3' %>
    
    <%= f.text_field :due , :placeholder => 'Due Date', :id => 'dueDate', :class => 'span3' %> 
    <%= f.submit  %></p>

<% end %>

